.new-title {
	color: hsl(35, 77%, 62%);
	font-size: 3.5rem;
	font-weight: 700;
	width: 100%;
}

.new-post {
	width: 100%;
	height: min-content;
	gap: 3rem;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.new-post-title {
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1rem;
	color: hsl(36, 100%, 99%);
}

hr {
	border-color: hsl(236, 13%, 42%);
}

hr:last-child {
	display: none;
}

@media (max-width: 37.5em) {
	.new-post {
		gap: 2rem;
	}
}
